/**
 * Variables
 */
@purple: #472A59;
@yellow: #F2CB05;
@white: #F2F2E4;
@accent: #A6837B;
@sand: #F2D888;

// another style - modern profesional look
@darkPurple: #2B1B2E;
@lightPurple: #54344D;
@white2: #FFFFD6;
@washLight: #B89E95;
@washDark: #6E444F;

// another style - playful purples and orange
@pinkPurple: #EF92FF;
@lightPurple: #AF4CD6;
@purple2: #AF4CD6;
@orange: #FFA70C;
@darkRose: #59103E;

// another style - has greens, purple and orange
@orange2: #EBA717;
@darkPurple2: #730F9A;
@lightPurple2: #A500E7;
@lightGreen: #12B46B;
@green: #089A59;

/**
 * Includes
 */
@import "../component/parties/styles/parties.import.less";


/**
 * Default Styles
 */
body {
  background-color: rgba(0,0,0,.04);

  .navbar {
    background-color: #ffffff;
  }
}

a {
	text-decoration: none;
	&:hover {
		color: lighten(@yellow, 10%);
	}
}

/**
 * Debug/Prototype Fixed Top Nav Bar
 */
.navigation-bar {
	background-color: @purple !important;
    position: absolute;
    height: 40px;
    min-height: 40px;
    top: 0;
    left: 0;
    width: 100%;
    a {
    	color: @yellow;
    	&:hover {
    		color: lighten(@yellow, 10%);
    	}
    }
}

/**
 * Main Container for App
 */
.app-container {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    // bottom: 40px; // TODO Set to 0 when the navigation bar is removed
    top: 0;
}

/**
 * Google Map Container
 */
.angular-google-map-container {
	height: 100%;
	margin-top: 40px;
  .angular-google-map {
  	height: 100%;
  }
}

/**
 * User Interface Container
 */
.user-interface-container, .ui-top-left, .ui-top-right, .ui-bot-left, .ui-bot-right {
	position: absolute;
}
.user-interface-container {
  	height: 100%;
  	width: 100%;
    margin-top: 40px; // TODO Remove this when the navigation bar is removed
    top: 0;
}

.ui-top-left {
	left: 0;
	top: 0;
}
.ui-top-right {
	right: 0;
	top: 0;
}
.ui-bot-left {
	bottom: 40px; // TODO Set to 0 when the navigation bar is removed
	left: 0;
}
.ui-bot-right {
	bottom: 40px; // TODO Set to 0 when the navigation bar is removed
	right: 0;
}


/*******************************************
 *   REMOVE THIS AFTER NAV BAR is removed  *
 *******************************************/
#login-buttons a {
	text-decoration: none !important;
}
#login-dropdown-list.accounts-dialog {
	background-color: @purple;
}
#login-buttons .login-button, .accounts-dialog .login-button {
	background-color: @yellow;
	color: @purple;
	border: 1px solid lighten(@yellow, 10%);
	font-weight: bold;
	&:hover {
		background-color: lighten(@yellow, 10%);
	}
}
