body {
  background-color: rgba(0,0,0,.04);
  position: relative;
  // overflow-y: hidden;

  .navbar {
    background-color: #ffffff;
  }
}

/**
 * Debug/Prototype Fixed Top Nav Bar
 */
.navigation-bar {
    position: absolute;
    height: 40px;
    min-height: 40px;
    top: 0;
    left: 0;
    width: 100%;
}

/**
 * Main Container for App
 */
.app-container {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    bottom: 40px; // TODO Set to 0 when the navigation bar is removed
    top: 0;
}

/**
 * Google Map Container
 */
.angular-google-map-container {
  height: 100%;
  margin-top: 40px; // TODO Remove this when the navigation bar is removed
  .angular-google-map {
  	height: 100%;
  }
}

@import "../component/parties/styles/parties.import.less";
