<md-content layout-padding>
  <div layout="column">
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"
                   ng-hide="$root.currentUser || $root.loggingIn">
      <span>Log in to discover, explore, and conquer!</span>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center"
                   ng-hide="!$root.currentUser || $root.loggingIn">
      <img ng-src="{{ $root.currentUser.profile.avatar || 'image/default_avatar.jpg'}}" alt="avatar" />
      {{ $root.currentUser.profile.name }}
    </md-whiteframe>
  </div>

  <div layout="column">
    <h2 class="md-headline">Spots:</h2>

    <form layout="row">
      <md-input-container md-no-float>
        <md-icon md-svg-icon="action:ic_search_24px"></md-icon>
        <input type="text" ng-model="search" id="search" placeholder="Search" aria-label="Search">
      </md-input-container>
      <span flex></span>
      <md-input-container>
        <md-select ng-model="orderProperty" placeholder="Sort Order">
          <md-option value="1">Ascending</md-option>
          <md-option value="-1">Descending</md-option>
        </md-select>
      </md-input-container>
    </form>
    <div class="angular-google-map-container">
      <ui-gmap-google-map center="map.center" zoom="map.zoom">
        <ui-gmap-markers models="parties" coords="'location'" click="onClicked()"
                         fit="true" idkey="'_id'" doRebuildAll="true">
        </ui-gmap-markers>
      </ui-gmap-google-map>
    </div>
  </div>
  <!-- <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls> -->
</md-content>